@page
@model MultiLanguage.Pages.IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@SharedLocalizer["Msg"]</h1>
    <a asp-page="Index" asp-route-culture="en-US">English - EU</a>
    <a asp-page="Index" asp-route-culture="pt-BR">Portuguese - BR</a>
</body>
</html>
